<h1>Components</h1>

  <%= render 'shared/navbar' %>

  <p>Primary button</p>
  <div class="button-container">
    <button class="primary-button" role="button">Sign in</button>
    <br>
    <br>
    <button class="primary-button-purple" role="button">Sign in</button>
  </div>
  <p>Secondary button</p>
  <div class="button-container">
    <button class="secondary-button" role="button">Sign up</button>
    <br>
    <br>
    <button class="secondary-button-purple" role="button">Sign up</button>
  </div>

<p>card product</p>
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364" />
  <div class="card-product-infos">
    <div>
      <h2>Product name</h2>
      <p>Product description with relevant info only.</p>
    </div>
    <div class="card-price-km">
      <h3>99.99 €</h3>
      <h3>1.3 km</h3>
    </div>
  </div>
</div>

<p>banner</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587202372634-32705e3bf49c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340);">
  <div class="container">
    <div class="header-point-color">
      <h1>CompuRent</h1>
      <h1 class="point">.</h1>
    </div>
    <p>Don’t buy, rent! The latest computer technology across the street.</p>
    <button class="primary-button-purple">Apply now</button>
  </div>
</div>
