<div class="container">
  <h1>Landing page</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <% @computers.each do |c| %>
  <%= c.name %>
  <%= c.year %>
  <%= c.availiability %>
  <% end %>
</div>
