/* Primary button */
.primary-button {
  font-family: $tech-font;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: $light-gray;
  color: $dark-blue;
  cursor: pointer;
  border: 3px solid $neon-blue;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px $neon-blue, 2px 2px 0px 0px $neon-blue, 3px 3px 0px 0px $neon-blue, 4px 4px 0px 0px $neon-blue, 5px 5px 0px 0px $neon-blue;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
}

@media (min-width: 768px) {
  .primary-button {
    padding: 0.25em 0.75em;
  }
}

/* Secondary button */
.secondary-button {
  align-items: center;
  background-color: $light-gray;
  border: 2px solid $neon-blue;
  box-sizing: border-box;
  color: $dark-blue;
  cursor: pointer;
  display: flex;
  font-family: $tech-font;
  font-size: 12px;
  height: 34px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:after {
    background-color: $neon-blue;
    content: "";
    display: block;
    height: 34px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(5px, 3px);
    transition: transform .2s ease-out;
    z-index: -1;
  }

  &:hover:after {
    transform: translate(0, 0);
  }


  &:active {
    background-color: $light-gray;
    outline: 0;
  }

  &:hover {
    outline: 0;
  }

}

@media (min-width: 768px) {
  .secondary-button {
    padding: 0 18px;
  }
}
