/* card product */
.card-product {
  overflow: hidden;
  height: 344px;
  width: 210px;
  background: $dark-blue;
  color: $light-gray;
  border: 1px solid $light-gray;
  display: flex;
  flex-direction: column;


  &:hover{
    border: 1px solid $neon-blue;
    transition: all 1.5s;
  }

  img {
    max-height: 160px !important;
    min-height: 160px !important;
    width: 100%;
    object-fit: cover;
    padding: 5px;
  }

  h2 {
    font-size: 16px;
    margin: 0;
    font-family: $oswald-font;
    font-weight: 500;
    padding-bottom: 3px;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .9;
    margin-bottom: 0;
    margin-top: 8px;
    font-family: $tech-font;
  }

  .card-product-infos {
    padding: 16px;
  }

  h3{
    font-family: $tech-font;
    font-size: 12px;
    margin: 0;
  }

  .card-price-km{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  h4{
    font-family: $oswald-font;
    font-weight: 100;
    font-size: 10px;
  }

  .card-details{
    height: 20px;
  }
}

/* card presentation for "how it works" */
.card-presentation{
  width: 200px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 230px;
    padding: 5px;
  }
}

.card-presentation h1 {
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 16px;
  color: $light-gray;
}


/* big card container for the show page*/
.big-card-details{
  border: 1px solid $neon-blue;
  width: 100%;
  height: 500px;
  padding: 10px;
}

.card-img-book{
  display: flex;
  justify-content: space-between;
}

.box-item-square{
  width: 300px;
  height: 472px;
  border: 0.7px solid $neon-purple;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #user{
    margin-left: 175px;
  }

  .price-details{
    // display: flex;
    // align-items: flex-end;
    // flex-wrap: wrap;
    margin: 5px 0;

    p{
      display: inline;
    }

    #price {
      font-size: 18px;
      color: $neon-blue;
    }
  }
  h3 {
    font-family: $oswald-font;
    font-weight: 400;
    font-size: 24px;
  }

  h4{
    font-family: $oswald-font;
    font-weight: 200;
    font-size: 16px;
  }

  p {
    font-family: $tech-font;
    font-size: 12px;
  }

  a {
    text-decoration: none;
  }
}

.box-item-flat{
width: 590px;
height: 120px;
border: 0.7px solid $neon-purple;
padding: 10px;
font-family: $tech-font;
font-size: 12px;
margin-top: -120px;
display: flex;
flex-direction: column;
align-content: space-between;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

}

// computer card for the profile page

.computer-card-profile{
  overflow: hidden;
  height: 196px;
  border: 1px solid $neon-blue;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .image-card-profile {
    max-height: 150px !important;
    min-height: 150px !important;
    width: 100%;
    object-fit: cover;
  }
  .computer-card-info-profile{
    font-family: $tech-font;
    font-size: 12px;
    color: $light-gray;
    margin-top: 8px;
    display: flex;
    }


  #available {
      margin: 0 5px;
      color: rgb(120, 254, 120);
    }

  #not-available{
      margin: 0 5px;
      color: rgb(251, 68, 68);
    }

}

.profile-card-info{
  overflow: hidden;
  height: 254px;
  border: 1px solid $neon-purple;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: center;

  h3{
    font-family: $tech-font;
    font-size: 24px;
    margin-top: 5px;
  }

  p{
    font-family: $oswald-font;
    font-weight: 200;
    font-size: 14px;
  }
}
