.label-form{
  font-size: $oswald-font;
  color: $light-gray;
  font-weight: 200;
}

.hint-form{
  font-size: $oswald-font;
  color: $light-gray;
  font-weight: 200;
  font-size: 10px;
  opacity: 0.5;
}

#sign-in-title{
  justify-content: center;
}

#register-title{
  justify-content: center;
  margin-bottom: 15px;
}

#rent-title{
  justify-content: center;
  margin-bottom: 15px;
}

.style-input{
  background-color: $dark-blue !important;
  font-family: $tech-font;
  font-size: 14px;
  color: $light-gray !important;
  border: 1px solid $neon-blue;
  border-radius: 0px;
}

#password-confirm{
margin-top: -20px;
}


.button-form {
    margin: auto;
    margin-top: 2rem;
    font-family: $tech-font;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: $light-gray;
    cursor: pointer;
    border: 3px solid $neon-purple;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px $neon-purple, 2px 2px 0px 0px $neon-purple, 3px 3px 0px 0px $neon-purple, 4px 4px 0px 0px $neon-purple, 5px 5px 0px 0px $neon-purple;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      text-decoration: none;
      color: $dark-blue;
    }

    &:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
  }

  @media (min-width: 768px) {
    .button-form {
      padding: 0.25em 0.75em;
    }
  }
