.navbar {
  position: sticky;
}
.navbar-lewagon {
  justify-content: space-between;
  color: $light-gray;
  font-family: $oswald-font;
  font-weight: 100;
  font-size: 14px;

}
.navbar-light .navbar-nav .nav-link {
  color: $light-gray;
  &:hover {
    color: $neon-blue !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.active-link {
  color: $neon-blue !important;
}

.avatar {
  width: 35px;
  border-radius: 50%;
}

.dropdown-menu .dropdown-menu-end{
  font-size: 12px;

}
