.searchbar-container {
  width: 100%;
  padding: 1rem 9rem;
  margin: 10px 0px;
}

#searchbar-right {
  text-align: right;
}

.search-field {
  height: 100%;
  display: inline-block;
  line-height: 4px;
}
